{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Transactions</h1>
<table class="table">
  <thead>
    <tr>
      <th>Expense ID</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for note in user.notes %}
    <tr>
      <td>{{ note.id }}</td>
      <td>{{ note.amount }}</td>
      <td>{{ note.type }}</td>
      <td>{{ note.comment }}</td>
      <td>{{ note.date }}</td>
      <td>
        <button type="button" class="btn btn-danger" onClick="deleteNote({{ note.id }})">
          Delete
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form method="POST">
  <div class="form-group">
    <label for="amount">Amount</label>
    <textarea name="amount" id="amount" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>Type</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="type" id="incomeCheckbox" value="income">
      <label class="form-check-label" for="incomeCheckbox">Income</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="type" id="expenseCheckbox" value="expense">
      <label class="form-check-label" for="expenseCheckbox">Expense</label>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea name="comment" id="comment" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Transaction</button>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  function deleteNote(noteId) {
    fetch("/delete-note", {
      method: "POST",
      body: JSON.stringify({ noteId: noteId }),
    }).then((_res) => {
      window.location.href = "/";
    });
  }
</script>
{% endblock %}
